<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 left-side">
            <div class="row">
                <div class="col name">
                    Dillon Woodland
                </div>
            </div>
            <div class="row">
                <div class="col info title">
                    <span>Software System Test Engineer</span>
                </div>
            </div>
            <div class="row mt-5 me-5">
                <div class="col info description">
                    <span>Mechanical engineer turned software engineer.
                        I love solving problems and tackling solutions
                        with great teammates.</span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-5 col-md-4 resume text-center" (click)="downloadResume()">
                    Download Resumé
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <a href="https://www.linkedin.com/in/dillon-woodland-48bb02156" target="_blank">
                        <img class="icon" src="../../assets/linkedInIcon.png" alt="LinkedIn Icon">
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.facebook.com/dillon.woodland/" target="_blank">
                        <img class="icon" src="../../assets/facebookIcon.png" alt="Facebook Icon">
                    </a>
                </div>
                <div class="col">
                    <a href="https://github.com/dillonwoodland" target="_blank">
                        <img class="icon" src="../../assets/githubIcon.png" alt="GitHub Icon">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 right-side text-center mt-3 mt-md-0">
            <img src="../../assets/me.png" alt="Image of Dillon Woodland" class="rounded">
        </div>
    </div>
</div>

<!-- www.linkedin.com/in/dillon-woodland-48bb02156 -->