<div class="container">
    <div class="row">
        <div class="col-auto mt-2 back-button" (click)="backButtonClicked()">
            < Back to Projects </div>
        </div>
        <div class="row">
            <div class="col-12 title">
                Project Description
            </div>
            <div class="col-12 col-md-10 description">
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                C++ application that sends data between a client and main server over TCP
                                along with the main server to two department servers over UDP
                            </li>
                            <li>
                                Run on an Ubuntu (linux) virtual machine
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row d-md-none">
                    <div class="col-12 col-md-2 text-center">
                        <div class="row">
                            <div class="col tech-stack-label">
                                Tech Stack
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <img class="tech-stack" src="../../../assets/cPlusPlusIcon.png"
                                    alt="C++ Programming Icon">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <a href="https://ubuntu.com/" target="_blank">
                                    <img class="tech-stack" src="../../../assets/ubuntuIcon.png" alt="Ubuntu Icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-none d-md-block text-center">
                        <img src="https://placehold.co/640x360?text=Video Loading..." alt="" *ngIf="!videoLoaded">
                        <iframe
                            src="https://drive.google.com/file/d/1f9fI7ihEtZrPMG7b4YYGl58C8JP8X53K/preview?usp=drive_link"
                            width="640" height="360" frameborder="0" [hidden]="!videoLoaded"
                            (load)="videoLoaded = true">
                        </iframe>
                        <div class="col-12 mt-3">
                            <span>Note:</span> A private copy of the source code is available upon request. Publically
                            sharing (e.g. on
                            Github/Bitbucket) is prohibited by professor.
                        </div>
                    </div>
                    <div class="col d-md-none text-center">
                        <img src="https://placehold.co/360x203?text=Video Loading..." alt="" *ngIf="!videoLoaded">
                        <iframe
                            src="https://drive.google.com/file/d/1f9fI7ihEtZrPMG7b4YYGl58C8JP8X53K/preview?usp=drive_link"
                            width="360" height="203" frameborder="0" [hidden]="!videoLoaded"
                            (load)="videoLoaded = true">
                        </iframe>
                        <div class="col-12 mt-3">
                            <span>Note:</span> A private copy of the source code is available upon request. Publically
                            sharing (e.g. on
                            Github/Bitbucket) is prohibited by professor.
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-12 col-md-2 text-center">
                <div class="row">
                    <div class="col tech-stack-label">
                        Tech Stack
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <img class="tech-stack" src="../../../assets/cPlusPlusIcon.png" alt="C Programming Icon">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a href="https://ubuntu.com/" target="_blank">
                            <img class="tech-stack" src="../../../assets/ubuntuIcon.png" alt="Ubuntu Icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>