<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col title">
                    Web Technologies
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        <li (click)="angularAjaxClicked()">Responsive (Bootstrap), AJAX with Angular</li>
                        <li (click)="mobileClicked()">Mobile (Java/Android Studio)</li>
                        <li (click)="ajaxClicked()">AJAX JavaScript</li>
                        <li (click)="angularClicked()">Responsive (Bootstrap) with Angular</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col title">
                    Operating Systems
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        <li (click)="osClicked()">Toy Operating System</li>
                        <li (click)="multiThreadingClicked()">Multi-threaded Emulator (C)</li>
                        <li (click)="cliClicked()">CLI program (C)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col title">
                    Computer Networks
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        <li (click)="tcpUdpClicked()">TCP/UDP (C++)</li>
                        <li (click)="stdmClicked()">Statistical Time Division Multiplexing Computation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col note">
            Select a project above for details.
        </div>
    </div>
</div>