<nav class="navbar navbar-expand-md">
    <div class="container-fluid position-relative">
        <div class="d-none d-md-block expanded-menu">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeNavItem === 'home'" (click)="homeClicked()"
                        aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeNavItem === 'projects'"
                        (click)="projectsClicked()">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeNavItem === 'contact'"
                        (click)="contactClicked()">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeNavItem === 'about'" (click)="aboutClicked()">About</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar"
            aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse collapse-end" tabindex="-1" id="collapseNavbar" aria-labelledby="collapseNavbarLabel">
            <div class="collapse-body">
                <ul class="navbar-nav d-block d-md-none justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" [class.active]="activeNavItem === 'home'" (click)="homeClicked()"
                            aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeNavItem === 'projects'"
                            (click)="projectsClicked()">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeNavItem === 'contact'"
                            (click)="contactClicked()">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="activeNavItem === 'about'"
                            (click)="aboutClicked()">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>