<div class="container">
    <div class="row">
        <div class="col-auto mt-2 back-button" (click)="backButtonClicked()">
            < Back to Projects </div>
        </div>
        <div class="row">
            <div class="col-12 title">
                Project Description
            </div>
            <div class="col-12 col-md-10 description">
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                Full stack single page application leveraging the eBay search API
                            <li>
                                Backend server is hosted on Google Cloud Platform (GCP) running NodeJS
                            </li>
                            <li>
                                Angular frontend hosted on GCP
                            </li>
                            <li>
                                Frontend queries the backend server asynchronously which then queries eBay
                            </li>
                            <li>
                                Bootstrap library used for responsiveness
                            </li>
                            <li>
                                MongoDB stores wish list item data
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row d-md-none">
                    <div class="col-12 col-md-2 text-center">
                        <div class="row">
                            <div class="col tech-stack-label">
                                Tech Stack
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <img class="tech-stack" src="../../../assets/ebayIcon.png" alt="Ebay Icon">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <img class="tech-stack" src="../../../assets/gcpIcon.png" alt="Ebay Icon">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <img class="tech-stack" src="../../../assets/nodeIcon.png" alt="Ebay Icon">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <img class="tech-stack" src="../../../assets/angularIcon.png" alt="Ebay Icon">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <img class="tech-stack" src="../../../assets/bootstrapIcon.jpg" alt="Ebay Icon">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <img class="tech-stack" src="../../../assets/mongoDbIcon.png" alt="Ebay Icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-none d-md-block text-center">
                        <iframe
                            src="https://drive.google.com/file/d/1h9PaZPs94euFdCnM-MJj1plU0e2eEGZ9/preview?usp=sharing"
                            width="640" height="360" frameborder="0"></iframe>
                    </div>
                    <div class="col d-md-none text-center">
                        <iframe
                            src="https://drive.google.com/file/d/1h9PaZPs94euFdCnM-MJj1plU0e2eEGZ9/preview?usp=sharing"
                            width="360" height="203" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-12 col-md-2 text-center">
                <div class="row">
                    <div class="col tech-stack-label">
                        Tech Stack
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <img class="tech-stack" src="../../../assets/ebayIcon.png" alt="Ebay Icon">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <img class="tech-stack" src="../../../assets/gcpIcon.png" alt="Ebay Icon">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <img class="tech-stack" src="../../../assets/nodeIcon.png" alt="Ebay Icon">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <img class="tech-stack" src="../../../assets/angularIcon.png" alt="Ebay Icon">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <img class="tech-stack" src="../../../assets/bootstrapIcon.jpg" alt="Ebay Icon">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <img class="tech-stack" src="../../../assets/mongoDbIcon.png" alt="Ebay Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>