<div class="container">
    <div class="row">
        <div class="col">
            < Back to Projects </div>
        </div>
        <div class="row">
            <div class="col-12 title">
                Project Description
            </div>
            <div class="col description">
                <ul>
                    <li>Full stack single page application leveraging the eBay search
                        API
                    <li>
                        Backend server
                        is hosted on Google Cloud Platform (GCP) running NodeJS
                    </li>
                    <li>Angular frontend hosted on GCP. It queries the backend server
                        asynchronously which
                        then queries eBay. Additionally the frontend utilizes the bootstrap library such that the app is
                        responsive.</li>
                    <li>MongoDB stores wish list item data</li>
                </ul>
            </div>
            <div class="col-2">
                images
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <iframe src="https://drive.google.com/file/d/1h9PaZPs94euFdCnM-MJj1plU0e2eEGZ9/preview?usp=sharing"
                    width="640" height="360" frameborder="0"></iframe>
            </div>
        </div>
    </div>