<div class="container">
    <div class="row">
        <div class="col">
            < Back to Projects </div>
        </div>
        <div class="row">
            <div class="col-12 title">
                Project Description
            </div>
            <div class="col description">
                <ul>
                    <li>This project is a full stack single page eBay search application that utilizes the eBay search
                        API.
                        The
                        backend server
                        is hosted on the Google Cloud Platform (GCP) running NodeJS.</li>
                    <li>The frontend is also hosted on GCP and was built with Angular. It queries the backend server
                        asynchronously which
                        then queries eBay. Additionally the frontend utilizes the bootstrap library such that the app is
                        responsive.</li>
                    <li>The data for the wishlist items is stored on MongoDB.</li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <iframe src="https://drive.google.com/file/d/1h9PaZPs94euFdCnM-MJj1plU0e2eEGZ9/preview?usp=sharing"
                    width="640" height="360" frameborder="0"></iframe>
            </div>
        </div>
    </div>